div.container{ text-align: center }

div.well{ background-color: LightGoldenRodYellow }

div.leftdiv{
	position:relative;
	float: left;
	width: 400px;
}
div.rightdiv{
	position: relative;
	float: right;
	width: 500px;
	text-align: left;
}
h2.intro{ text-align: center }

#internships{ font-size: 13px }

a:link{ color: #0645AD }

a:hover { color: yellow }

a:active{ color: red }

a:visited{ color: #0B0080 }

header { background: linear-gradient(to right, FloralWhite, HoneyDew) }

nav { background: linear-gradient(to right, FloralWhite, HoneyDew) }

body { background: linear-gradient(to right, FloralWhite, HoneyDew) }